@tailwind base;
@tailwind components;
@tailwind utilities;


body{
    overflow-x: hidden;
}

/* style css */
.second img{
 width: 500px;
    height:300px;
}

li{
    margin-right: 15px;
}

/* media sreen */

@media (max-width:600px) {
    .doorway{
        text-align: left;
        display: block;
        background: rgb(49, 23, 4);
        margin-top: 200px;
        padding: 20px;
    
      
    }
    .text-side {
        margin-left: 12px;
    }
    .text-side h2{
       font-size: 26px;
    }
    .juyel {
      margin: 0 6px;
       
    }
    .juyel h2{
        font-size: 23px;
    }
    .juyel p{
       width: auto;
      margin-bottom: 60px;
    }
    .decode{
        margin: 16px;
    }

    .decode h1{
        margin-top: 20px;
    }
    .border{
        width: auto;
    }

    .store{
        margin: 15px;
    }
    .image img{
        width: auto;
        margin-top: 60px;
    }

    .facial{
        margin: 15px;
    }
    .facial h2{
        margin-top: 20px;
    }
    .last{
        margin-top: 6rem;
        margin-bottom: 6rem;
    }
}
@media (max-width:400px) {
    .doorway{
        text-align: left;
        display: block;
        background: rgb(49, 23, 4);
        margin-top: 200px;
        padding: 24px;
        width:372px;
    }
   
    .doorway h2{
       font-size: 26px;
    }
    .juyel {
      margin: 0 6px;
       
    }
    .juyel h2{
        font-size: 23px;
    }
    .juyel p{
       width: auto;
      margin-bottom: 60px;
    }
    .decode{
        margin: 16px;
    }

    .decode h1{
        margin-top: 20px;
    }
    .border{
        width: auto;
    }

    .store{
        margin: 15px;
    }
    .image img{
        width: auto;
        margin-top: 60px;
    }

    .facial{
        margin: 15px;
    }
    .facial h2{
        margin-top: 20px;
    }
    .last{
        margin-top: 6rem;
        margin-bottom: 6rem;
    }
}