@tailwind base;
@tailwind components;
@tailwind utilities;

/* * {
    text-decoration: none;
    border: none;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
  }
    */

body {
    overflow-x: hidden;
}

/* navber */
li {
    list-style: none;
    margin-right: 15px;
    font-size: 15px;
}


/* style css */





.second img {
    width: 500px;
    height: 300px;
}


.firstBor {
    border: 1px solid white;
}

.firstBor:hover {
    background-color: white;
    color: black;
    cursor: pointer;
}

.cblack:hover {
    background-color: black;
    color: white;
    cursor: pointer;
}

.cblack {
    border: 1px solid black;
}

.email {
    border: 1px solid white;
}

/* media sreen */

@media (max-width:1380px) {}


@media (max-width:1024px) {
    .navbar {
        opacity: .9;
        position: absolute;
    }
    .last-li {
        display: none;
    }

    .photos {
        display: flex;
        gap: 40px
    }

}

@media (max-width:800px) {
 
    .last-li {
        display: none;

    }

    .aesop {
        display: none;
    }

    .photos {
        display: block;

    }

    .doorway {
        background-color: #341e1e;
        text-align: left;
        margin-top: 220px;
        padding: 13px;

    }

    .border {
        width: auto;
    }

    .doorway h2 {
        font-size: 22px;
    }
}

@media (max-width:600px) {
    .navbar ul{
        opacity: .5;
        position: absolute;
    }
    .man p{
        color: white;
    }

    .last-li {
        display: none;

    }

    li {
        margin-top: 14px;
    }

    .aesop {
        display: none;
    }

    .photos {
        display: block;
    }

    .doorway {
        background-color: #341e1e;
        text-align: left;
        margin-top: 220px;
        padding: 13px;

    }

    .juyel {
        margin: 0 6px;

    }

    .juyel h2 {
        font-size: 23px;
    }

    .juyel p {
        width: auto;

    }

    .decode {
        margin: 16px;
    }

    .decode h1 {
        margin-top: 20px;
    }

    .border {
        width: auto;
    }

    .store {
        margin: 15px;
    }

    .image img {
        width: auto;
        margin-top: 60px;
    }

    .facial {
        margin: 15px;
    }

    .facial h2 {
        margin-top: 20px;
    }

    .last {
        margin-top: 6rem;
        margin-bottom: 6rem;
    }
}

@media (max-width:400px) {



    header nav {
        margin-bottom: -50px;
    }

    .photos {
        display: block;
    }

    .doorway {
        background-color: rgb(81, 53, 4);
        text-align: left;
        margin-top: 70px;
        width: 100%;
    }

    .juyel {
        margin: 0 6px;

    }

    .juyel h2 {
        font-size: 23px;
    }

    .juyel p {
        width: auto;
        margin-bottom: 60px;
    }

    .decode {
        margin: 16px;
    }

    .decode h1 {
        margin-top: 20px;
    }

    .border {
        width: auto;
    }

    .store {
        margin: 15px;
    }

    .image img {
        width: auto;
        margin-top: 60px;
    }

    .facial {
        margin: 15px;
    }

    .facial h2 {
        margin-top: 20px;
    }

    .last {
        margin-top: 6rem;
        margin-bottom: 6rem;
    }
}









/* break points */